.center-block {
	width: 50%;
	margin-top: 25%;
}

.green {background-color: green;}
.blue {background-color: blue;}
.orange {background-color: orange;}
.red {background-color: red;}
.violet {background-color: violet;}