.container {
	margin-bottom: 25px;
}

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}


/* FILTER (index.html) */

div.filter .input-group,
div.filter select.form-control {width: 100%; margin: 5px 0;}

div.filter .filter-dates div {margin: 5px 0;}

div.filter .filter-dates label {color: #ababab;}

span.glyphicon-search {
	display: block;
	cursor: pointer;
	color: #ababab;
}

span.glyphicon-search:hover {color: gray;}


/* Notes (Tour Details) */
#dets .notes {margin-top: 3em;}


/* Tour activity */
.table-bordered {
	background: #fff;
	min-width: 650px;
}

.table-bordered select,
.table-bordered select:focus {
	border-color: #fff;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

table > tbody > tr > td > hr {
	border: none;
	height: 1px;
	color: red;
	background-color: #ddd;
	margin-bottom: 5px;
	margin-left: -7px;
	margin-right: -7px;
}

	/* Activity status colors */
.limegreen {background-color: limegreen;}
.lightgreen {background-color: lightgreen;}
.yellow {background-color: yellow;}
.orange {background-color: orange;}
.lightsteelblue {background-color: lightsteelblue;}
.orangered {background-color: orangered;}
.white {background-color: white;}